<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>SC美妆连锁加盟</title>
<link href="{CSS_PATH}css.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{JS_PATH}jquery-1.7.2.min.js"></script>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style>

<link href="{CSS_PATH}product.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="container">
{template "content","header"}

  <div id="mainContent">
  <div id="location"><a href="{siteurl($siteid)}">首页</a><span> > {catpos($catid)}正文</div>
  <div id="product">
    	<h2 align="center">关于我们</h2>
        <div id="productdetail"> 
               <div class="thisproductcat">
                <ul>
                  <li style="background-color:#CCCCCC;"> <h3 style="padding:0px; margin:0px;">关于我们</h3></li>
                  {loop $arrchild_arr $cid}
                	<li><a href="{$CATEGORYS[$cid][url]}">{$CATEGORYS[$cid][catname]}</a></li>
				  {/loop}
                </ul>
       </div>
       
         <div> {pc:get sql="SELECT * FROM sc_page where catid=2"}
            {loop $data $key $val}
            {strip_tags($val[content])}
            {/loop}
            {/pc}     </div>
      </div>  

    </div>
    <div class="wrapProductList">
		  <h3 align="center">SC产品分类</h3>
          <div class="productList">
              <h3>脸部</h3>
                <ul>
                  <li> <a href="#">底妆</a></li>
                  <li> <a href="#">遮瑕</a></li>
                  <li> <a href="/beauty/zh_cn/香氛与美容/彩妆/脸部/powder/fr-powders-蜜粉.html">蜜粉</a> </li>
                  <li> <a href="/beauty/zh_cn/香氛与美容/彩妆/脸部/blush/fr-blush-腮红.html">腮红</a> </li>
                </ul>
         </div>
                    
         <div class="productList">
             <h3>眼部</h3>
             <ul>
                 <li>  <a href="/beauty/zh_cn/香氛与美容/彩妆/眼部/mascaras/fr-mascaras-睫毛膏.html">睫毛膏</a></li>
                 <li> <a href="/beauty/zh_cn/香氛与美容/彩妆/眼部/eyeshadows/fr-eyeshadows-眼影.html">眼影</a> </li>
                 <li>  <a href="/beauty/zh_cn/香氛与美容/彩妆/眼部/eyeliner/fr-liners-眼线.html">眼线</a> </li>
                 <li>  <a href="/beauty/zh_cn/香氛与美容/彩妆/眼部/eyebrows/fr-eyebrows-眉部.html">眉部</a> </li>
             </ul>
      </div>
                    
          <div class="productList">
             <h3>唇部</h3>
             <ul>
                  <li> <a href="/beauty/zh_cn/香氛与美容/彩妆/唇部/lipsticks/fr-lipsticks-唇膏.html">唇膏</a> </li>
                  <li> <a href="/beauty/zh_cn/香氛与美容/彩妆/唇部/gloss/fr-gloss-唇彩.html">唇彩</a></li>

                  
             </ul>
 
      </div>         
         <div class="productList">
              <h3>指甲</h3>
              <ul>
                <li> <a href="/beauty/zh_cn/香氛与美容/彩妆/指甲/nail-lacquers/fr-naillacquers-指甲油.html">指甲油</a></li>
                <li> <a href="/beauty/zh_cn/香氛与美容/彩妆/指甲/manicure/fr-manicure-美甲.html">美甲</a> </li>
              </ul>
      </div>
                    
          <div class="productList">
                <h3>化妆工具</h3>
                <ul>
                <li> <a href="/beauty/zh_cn/香氛与美容/彩妆/化妆工具/accessories/fr-brushes-专业化妆刷.html">专业化妆刷</a> </li>
                </ul>
      </div>
    </div>
    <div class="clear"></div>       
	<!-- end #mainContent -->
  </div>
{template "content","footer"}
<!-- end #container -->
</div>
</body>
</html>