<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>SC美妆连锁加盟</title>
<link href="{CSS_PATH}css.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{JS_PATH}jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="http://www.scmakeup.com/statics/js/jquery.slider.js"></script>

<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style>

<link href="{CSS_PATH}product.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="container">
  {template "content","header"}

  <div id="mainContent">
  <div id="location"><a href="{siteurl($siteid)}">首页</a><span> > {catpos($catid)}正文</div>
  <div id="product">
    	<h2 align="center">{$title}</h2>
        <div id="productdetail"> 
        <div class="thisproductcat">
                  <ul>
                  <li style="background-color:#CCCCCC;"> <h3 style="padding:0px; margin:0px;">
				{$CATEGORYS[$CAT[parentid]][catname]}
                   </h3></li>

                  
                  
            {pc:content action="category" catid="$CAT[parentid]" num="25" siteid="$siteid" order="listorder ASC"}
            {loop $data $r}
             <li><a href="{$r['url']}">{$r[catname]}</a></li>
            {/loop}
            {/pc}
            
            
                </ul>
                </div>
	 <div>{$content}</div>
      </div>  
      
    </div>
    <div class="prorecommended">
    	<h3 align="center">推荐资讯</h3>
        
        
            {pc:content  action="lists" catid="6" thumb="1"  order="rand()"  num="3"}
            <ul id="prorecommendedlist">  
             {loop $data $r}    
                <li><a href="{$r[url]}" class="link">
                 	<img src="{thumb($r[thumb],312,181)}" title="{$r[title]}" width="312px" height="181px"/>
                     <h3>{str_cut($r[title],40)}</h3>
                     <p>{str_cut($r['description'],80)}</p>
                 </a></li> 
                 
                {/loop}
            </ul>
            {/pc}
                    

    </div>
<div class="wrapProductList">
		  <h3 align="center">SC产品分类</h3>
        {pc:content action="category" catid="14" num="25" siteid="$siteid" order="listorder ASC"}
            {loop $data $k $v}
            <div class="productList">
                 <h3>{$v[catname]}</h3>
                
                 <ul>
                     {pc:content action="category" catid="$k" num="15" siteid="$siteid" order="listorder ASC"}
                     {loop $data $r}  <li><a href="{$r[url]}">{$r[catname]}</a></li> {/loop}
                     {/pc}
                 </ul>
              </div>
    
            {/loop}
   		{/pc}
 
    </div>
    <div class="clear"></div>       
	<!-- end #mainContent -->
  </div>
    {template "content","footer"}
<!-- end #container -->
</div>
</body>
</html>
